@use  '../abstract/color' as v;

.register-sec{
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 8rem 0;

}

.register-form{
    min-height: 40rem;
    display: block;
    // margin: 5rem 0;
}
.register-form > * {
    margin-bottom: 1rem;
}
.register-form > div:last-of-type input{
    // background-color:transparent;
    border-radius: 0;
    border: none ;
    // border-top: 3px solid v.$co-thrid;   
    border: 3px solid v.$co-third;

}