@use  '../abstract/color' as v;

.showpost-sec{
    padding:  6rem 0;
    width: 100%;
    min-height: 80vh;
    background-color: v.$co-for;
    // background-color: black;
}
.showpost{
    
    width: 100%;
    margin: 0 auto;
    max-width: 60rem;
    color: white;
    padding: 0 1rem;
    // background-color: orangered;
}
.showpost .showpost-img{
    width: 100%;
    object-fit: contain;
    border-radius:1rem;
}
.showpost p{
    font-size: 2rem;
    color:rgba(255,255,255,0.8);
}
.showpost p ,.showpost h1 {
    margin: 2rem 0;
    
}
.showpost .author{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255,255,255, 0.7);
    padding: 1rem;
    border-radius: 1rem;
}
.showpost .author .user span{
    font-weight: bolder;
    text-decoration: underline;
}
.btns .btn-edit,
.btn-delete{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: v.$co-sec-br;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0.5rem;
   
}

.btn-edit{
    background-color: v.$co-pri-br;
}
.btn-delete{
    background-color: v.$co-sec-br;
    color: v.$co-pri-br;
}
.btn-edit:visited{
    background-color: v.$co-pri-br !important;

}
.showpost h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    position: relative;
    padding:1rem;
}
.showpost h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    
    background-color: rgba(255,255,255,0.8);
}
.showpost .btn-read {
    padding: 1.5rem 2rem;
    margin-bottom: 0.5rem;
    float: right;
}
.showpost .btn-read i{
    margin-right:1rem;
    font-size: 2rem ;
    transition: transform 0.3s ease;
}
.showpost .btn-read:hover i{
    transform: translateX(-2px);
}