@use '../abstract/' as a;
@use  '../uiti/' as b;

.cards{
    grid-gap:1rem;
    margin-top: 1rem;
    width:100%;
    // background-color: white;
    display: grid;
    grid-template-columns: minmax(1rem,1fr) repeat(3,minmax(35rem,40rem)) minmax(1rem,1fr);

    // grid-template-rows:1fr 1fr;
    // grid-template-columns: 1fr 1fr;
    @include b.respond(grid-st){
        grid-template-columns: minmax(1rem,1fr) repeat(2,minmax(35rem,40rem)) minmax(1rem,1fr);

    }
    @include b.respond(mb-lg){
        grid-template-columns: minmax(1rem,1fr) repeat(1,minmax(35rem,50rem)) minmax(1rem,1fr);
    }
}


.card{
    grid-column: span 1;
    transition: text-decoration 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    width: 100%;    
    background-color: a.$co-pri;
    border-radius: a.$b-rd;
    padding: 1rem   ;
    max-height: 40rem;
   
    display: flex;

    flex-direction: column;

    
    @include b.respond(tab-pot){
        max-height: 45rem;
       }  
    @include b.respond(mb-lg){
        max-height: 50rem;
       }  
    
    &__img{
        max-width: 100%;
        min-height: 50%;
        overflow: hidden;
        object-fit: contain;
        border-radius: a.$b-rd;
        
    }
    &__img img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        
    }
    
    &__header{
        font-size: 2.2rem;
        color: white;
        text-transform: uppercase;
    }
    &__info{
        font-size: 1.6rem;
        color: a.$co-four;
    }
    &__footer{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
// .card:link,
// .card:visited{
//     display: block !important;
// }
.kados{
    grid-gap:1rem;
    
    width:100%;
    max-width: 100%;
    padding-left: 1rem;
    display: grid;
    grid-template-columns:  repeat(2,minmax(35rem,40rem)) ;

   
    // @include b.respond(grid-st){
    //     grid-template-columns: minmax(1rem,1fr) repeat(2,minmax(35rem,40rem)) minmax(1rem,1fr);

    // }
    @include b.respond(mb-lg){
        grid-template-columns: 1fr;
    }
}

.kado{
    // grid-column: span 1;
    transition: text-decoration 0.3s ease;
   
    overflow: hidden;
    width: 100%;    
    background-color: a.$co-pri;
    border-radius: a.$b-rd;
    padding: 1rem   ;
    max-height: 40rem;
    display: flex;
    flex-direction: column;

    @include b.respond(tab-pot){
        max-height: 45rem;
       }  
    @include b.respond(mb-lg){
        max-height: 50rem;
       }  
    
    &__img{
        max-width: 100%;
        min-height: 50%;
        overflow: hidden;
        object-fit: contain;
        border-radius: a.$b-rd;
        
    }
    &__img img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        
    }
    
    &__header{
        font-size: 2.2rem;
        color: white;
        text-transform: uppercase;
    }
    &__info{
        font-size: 1.6rem;
        color: a.$co-four;
    }
    &__footer{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}


@media screen and (max-width: 876px) {
    .kados{
        // max-width: 80%;
        margin: 0 auto;
    }
  }











.card:hover .card__header,
.kado:hover .kado__header{
    text-decoration: underline;
    color: a.$co-sec-br;
}




.card:nth-child(2),
.card:nth-child(8){
    @include b.respond(grid-st){
       grid-column: 2/ span 1;
    }
}


.card:first-child{
    grid-column: 2 /span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "img  text"
    "img   text";
    grid-gap:1rem;


    @include b.respond(mb-lg){
        grid-column: 2/ span 1;
        display: flex;
        flex-direction: column;
     }
    & .card__img{
        height: 100%;
        grid-area: img;
        // grid-row: span 1;
    }

    & .user{
        grid-area: text;
        // grid-template-columns: 2/-2;
    }
}
.card:nth-child(3),
.card:nth-child(6),
.card:nth-child(9){
    
    grid-column: 2/span 1;

}
.card:nth-child(3){
    @include b.respond(grid-st){
        grid-column: 3/ span 1;
     }
     @include b.respond(mb-lg){
        grid-column: 2/ span 1;
     }
}
.card:nth-child(4),
.card:nth-child(10){
    @include b.respond(grid-st){
        grid-column: 2/ span 1;
     }
}
.card:nth-child(9){
    @include b.respond(grid-st){
        grid-column: 3/ span 1;
     }
}
.card,
.card:nth-child(9){
    @include b.respond(mb-lg){
        grid-column: 2/ span 1;
     }
}

.user{
    // background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap:0.5rem ;
    color: a.$co-third;
    &__img{
        width: 5rem;
        height: 5rem;
        border-radius: 50% ;
        object-fit: cover;
        // grid-column: 1/2;
        grid-row: 1/3;

    
    }
    &__time{
        grid-column: 2/3;
        font-size: 1.2rem;
        // font-weight: bold;

        @include b.respond(tab-land){
            font-size: 1.6rem;
           }
    }
    &__name{
        grid-column: 2/3;
        font-size: 1.3rem;
        font-weight: bold;
        align-self: flex-end;

        @include b.respond(tab-land){
            font-size: 1.8rem;
           }
        
    }
}
.btn-read{
    background-color: a.$co-sec;
    font-size: 1.8rem;
    
    border-radius: 0.5rem;
    color: a.$co-pri;
    transform: translateX(0);
    padding: 0.5rem 1.5rem !important;
    transition: all 0.3s;


  
}
.btn-read:hover{
    background-color: a.$co-pri-li;
    color: a.$co-third;
    transform: translateY(2px);

}
