@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Raleway:wght@100;300;400&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #4b23d3;
}

.pt {
  font-family: "PT Sans Narrow", sans-serif;
}

.rl {
  font-family: "Raleway", sans-serif;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

btn {
  border: none;
  border-radius: 0;
}

.m-vsm {
  margin-top: 0.5rem;
}

.m-sm {
  margin-top: 1rem;
}

.m-md {
  margin-top: 2rem;
}

.m-lg {
  margin-top: 4rem;
}

.form {
  background-color: #361999;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}

.form > div label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #78FFF1;
}

.form > div input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 1rem;
  border-right: 3px solid #FF6495;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #FF6495;
  transition: border 0.3s;
  background-color: #e6e6e6;
}

.form > div input:focus {
  outline: none;
  border: 3px solid #FF6495;
  background-color: #f7f7f7;
}

.from > * {
  margin-bottom: 5rem;
}

.form-btn {
  padding: 0.8rem 2.5rem;
  align-self: center;
  border-radius: 1.8rem;
  border: none;
  background-color: #FF6495;
  font-size: 1.6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  transition: all 0.2s;
}

.form-btn:hover {
  background-color: transparent;
  border: 2px solid #FF6495;
}

.nav {
  max-width: 100%;
  background-color: transparent;
  color: #78FFF1;
  padding: 1rem 0;
}
.nav__warp {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 100rem;
  margin: 0 auto;
}
.nav__head {
  background-color: #361999;
  font-family: inherit;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 5px;
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__head::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #FF6495;
}
.nav__list {
  width: 100%;
  display: flex;
  list-style: none;
  margin-left: 0.5rem;
  align-items: center;
}
.nav__list__item__link:link, .nav__list__item__link:visited {
  font-size: 1.7rem;
  color: #23ffe8;
  transition: color all 0.2s;
  background-color: #361999;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
}
.nav__list__item {
  margin: 0 0.5rem;
}
.nav__list__item__link:hover, .nav__list__item__link:focus {
  outline: none;
  color: #defffc;
}

.dropdown {
  margin-left: auto;
}

.dropdown-btn {
  cursor: pointer;
  background-color: #23ffe8;
  border-radius: 1rem;
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  color: #23ffe8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  border: none;
}

.dropdown-btn i {
  display: inline-block;
  transition: rotate 0.2s ease-in;
  color: rebeccapurple;
}

.dropdown-btn span {
  color: #361999;
}

.dropdown-btn img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #361999;
}

.dropdown-list {
  display: none;
  opacity: 0;
  border-radius: 1rem;
  margin-top: 1rem;
  text-align: center;
  position: absolute;
  top: -4.3rem;
  transform: translateY(100px);
  transition: all 0.3s ease;
  width: 20rem;
  background-color: #361999;
}

.dropdown.active .dropdown-list {
  display: block;
}

.dropdown.show .dropdown-list {
  opacity: 1;
}

.dropdown.active i {
  transform: rotate(-90deg);
}

.dropdown-link:link,
.dropdown-link:visited {
  display: block;
  color: #78FFF1;
  width: 100%;
  padding: 2rem;
  font-size: 1.8rem;
  border: 3px solid #defffc;
}

.dropdown-link:hover,
.dropdown-link:active {
  background-color: #23ffe8;
  color: #FF6495;
}

.card {
  overflow: hidden;
  width: 100%;
  background-color: #361999;
  border-radius: 1rem;
  padding: 1rem;
  max-height: 35rem;
  display: flex;
  flex-direction: column;
}
.card__img {
  max-width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 1rem;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__header {
  font-size: 2.2rem;
  color: white;
  text-transform: uppercase;
}
.card__info {
  font-size: 1.6rem;
  color: #d5d5d5;
}
.card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.5rem;
  color: #FF6495;
}
.user__img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row: 1/3;
}
.user__time {
  grid-column: 2/3;
  font-size: 1.2rem;
}
.user__name {
  grid-column: 2/3;
  font-size: 1.3rem;
  font-weight: bold;
  align-self: flex-end;
}

.btn-read {
  background-color: #78FFF1;
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #361999;
  transition: all 0.3s;
}

.btn-read:hover {
  background-color: #defffc;
  color: #FF6495;
}

.login-sec {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  width: 40rem;
  height: 30rem;
}

.register-sec {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  height: 40rem;
}

.register-form > div:last-of-type input {
  border-radius: 0;
  border: none;
  border: 3px solid #FF6495;
}

.posts {
  width: 100%;
  max-width: 80rem;
  margin: 1rem auto;
  min-height: 70vh;
}

.header {
  background-color: #FF6495;
  color: #78FFF1;
  font-size: 3rem;
  text-align: center;
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.cards {
  grid-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.create-sec {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-create {
  width: 100%;
  max-width: 80rem;
}

.create {
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "title title body body" "intro intro body body" "intro intro body body" "foot foot   body body" "foot foot   pic  pic " "btn btn btn btn ";
  grid-gap: 1rem;
}

.create textarea {
  width: 100%;
  font-size: 1.3rem;
  font-family: inherit;
  padding: 0.5rem;
  border: 3px solid #FF6495;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
}

.create textarea:focus {
  outline: none;
}

.form div span {
  font-size: 1rem;
  color: red;
  margin-left: 0.1rem;
}
.form__title {
  grid-area: title;
}
.form__content__body {
  grid-area: body;
}
.form__content__body textarea {
  height: 90%;
}
.form__content__intro {
  grid-area: intro;
}
.form__content__footer {
  grid-area: foot;
}
.form__picture {
  grid-area: pic;
  align-self: stretch;
}
.form__btn {
  grid-area: btn;
  justify-self: center;
}

.profile-sec {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__password {
  margin: 2rem 0;
}

.form__password img {
  width: 13rem;
  height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1rem;
  border-radius: 2rem;
}

.profile .form-btn {
  align-self: flex-end;
  transform: translateY(-230%);
}

.contant-sec {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contant-form {
  display: flex;
  width: 100%;
  max-width: 80rem;
}

.contant-form-img {
  flex-basis: 50%;
  border-radius: 2rem;
  overflow: hidden;
  margin-right: 1rem;
}

.contant-form-img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.contant-from from {
  flex: 1;
}

.fl-container {
  width: 100%;
  display: flex;
  margin: 1rem;
}

.btn-table {
  background-color: transparent;
  border-radius: 0%;
  color: #4b23d3;
  padding: 0.8rem 1.5rem;
  font-size: 1.8rem;
}

.btn-update {
  border: 3px solid #4b23d3;
}

.btn-del {
  border: 3px solid #FF6495;
}

.side-nav {
  flex: 0 0 25%;
  background-color: #361999;
  list-style: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}
.side-nav__item {
  width: 100%;
}
.side-nav__item a:link, .side-nav__item a:visited {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: #78FFF1;
  border: 1px solid #78FFF1;
}

.admin-do {
  flex: 1;
  padding-left: 0.5rem;
}

table {
  border: 1px solid #361999;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  max-width: 100%;
  table-layout: fixed;
  font-size: 2rem;
  color: #361999;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #78FFF1;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th {
  color: #4b23d3;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 800px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .fl-container {
    flex-direction: column;
    align-items: center;
  }
}
.showpost-sec {
  width: 100%;
  height: 80vh;
}

.showpost {
  width: 100%;
  margin: 0 auto;
  max-width: 60rem;
  color: white;
  padding: 0 1rem;
}

.showpost .showpost-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 1rem;
}

.showpost p {
  font-size: 2rem;
}

.showpost p, .showpost h1 {
  margin: 2rem 0;
}

.showpost .author {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  border-radius: 1rem;
}

.btns .btn-edit,
.btn-delete {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: #23ffe8;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 0.5rem;
}

.btn-edit {
  background-color: #4b23d3;
}

.btn-delete {
  background-color: #defffc;
  color: #4b23d3;
}
